/*
Creator: Brianna Larson
Date Created: 9/4/19
Date last modified: 9/9/19
*/

body {
  background-color: #d6d5c9;
  font-family: arial, helvetica, sans-serif;
  color: #363020;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

header, footer {
  background-color: #8c2020;
  color: #d6d5c9;
  font-family: verdana, arial, helvetica, sans-serif;
  text-align: center;
  padding: 20px 10px;
}

footer {
  font-size: 1.2em;
}

.jumbotron {
  background-color: #363020;
  padding: 40px;
  margin-bottom: 10px;
  border-top: thin solid #d6d5c9;
}

.jumbotron h1 {
  text-align: left;
  font-size: 3em;
}

nav {
  border-top: thin solid #363020;
  border-bottom: thin solid #363020;
  margin-top: 12px;
  margin-bottom: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.clear-float {
  clear:both;
}

article {
  margin-top: 10px;
  margin-bottom: 10px;
}

article img {
  padding-bottom: 10px;
}

nav .btn {
  background-color: #8c2020;
  color: #d6d5c9;
  padding: 5px 20px;
  border: thin solid #363020;
  text-decoration: none;
  text-align: center;
  margin: 0 10px;
  float: left;
  font-size: 1.1em;
}

nav .btn:hover {
  font-weight: bold;
  text-decoration: none;
}

nav a:active {
  font-weight: bold;
}
